branches:
  - main
tagFormat: "v${version}"
plugins:
  - - "@semantic-release/commit-analyzer"
    - releaseRules:
        - { type: "refactor", release: "patch" }
  - - "@semantic-release/release-notes-generator"
    - presetConfig:
        types:
          - { type: "feat", section: "Features" }
          - { type: "fix", section: "Bug Fixes" }
          - { type: "refactor", section: "Refactors", hidden: false }
          - { type: "chore", section: "Chores", hidden: false }
          - { type: "perf", section: "Performance Improvements", hidden: false }
          - { type: "revert", section: "Reverts", hidden: false }
  - "@semantic-release/changelog"
  - - "@semantic-release/github"
    - draftRelease: true
  # TODO: add slack integration
